$responsive-small: 400px;
$responsive-medium: 1050px;
$responsive-large: 1500px;

@import "~tailwindcss/dist/tailwind.min.css";
@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto+Slab');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

@import "variables";

@import "helpers/container";
@import "helpers/link";
@import "helpers/card";
@import "helpers/divider";
@import "helpers/button";
@import "layouts/fonts";
@import "layouts/header";
@import "layouts/articles";
@import "layouts/body";
@import "layouts/partner";
@import "layouts/team";
@import "layouts/cover";
@import "layouts/footer";
@import "layouts/photos";
@import "layouts/error";
@import "layouts/drawer";
@import "layouts/transitions";
