$cover-height: 15em;

.cover {
  position: relative;

  .cover-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://s.werobot.fr/headerCover.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .cover-container {
    width: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: $cover-height;
    background-color: rgba(41, 128, 185, 0.8);
    display: flex;
    align-items: center;
    color: white;
    padding: 5em 0;
  }

  .cover-title {
    line-height: 3em;
    font-size: 1.5em;
  }

  &.large-cover {
    .cover-container {
      padding: 6em 0;
    }
  }
}

@media (max-width: $responsive-medium) {
  .cover {
    .cover-title {
      font-size: 1.3em;
    }

    &.large-cover {
      .cover-container {
        padding: 5em 0;
      }
    }
  }
}

@media (min-width: $responsive-large) {
  .cover {
    &.large-cover {
      .cover-container {
        padding: 8em 0;
      }
    }
  }
}
