  .partners {
  margin-top: 2em;
  .partner {
    &:first-child img {
      width: 50%;
    }
    &:nth-child(2) img {
      width: 50%;
    }
    &:nth-child(3) img {
      width: 40%;
    }
    &:nth-child(4) img {
      width: 45%;
    }
    &:nth-child(5) img {
      width: 40%;
    }
    &:last-child {
      margin-top: 1.5em;
      img {
        width: 30%;
      }
    }
    margin-top: 1.2em;

    .partner-image {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.partners-quick {
  margin-top: 1.5em;
  margin-bottom: -2.5em;
  .partner-quick-title {
    margin-bottom: .5em;
  }
  .partner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      height: 7em;
    }
    &:nth-of-type(5) {
      img {
        height: 5em;
      }
    }
    &:nth-of-type(6) {
      img {
        height: 6em;
      }
    }
  }
}

@media (max-width: $max-width-responsive-level-1) {
  .partners-quick .partner-item {
    img {
      padding: 10px;
    }
  }
}
